.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 80px;
    background-color: #813405;
}

.errorMessage{
    position: absolute;
    top: 165px;
    text-align: center;
    width: 80%;
    max-width: 775px;
    /* font-family: "Inria Serif", serif;
    font-size: 22px;
    color: black;
    border-radius: 18px;
    background-color: #f9a03f;
    padding: 5px; */
    font-size: 26px;
    font-style: italic;
    color: #f8dda4;
}

@media(max-width: 517px){
    .errorMessage{
        /* position: relative; */
        font-size: 20px;
        top: 110px;
    }
}

/* @media only screen and (max-width: 600px) and (min-width: 400px) */
@media(max-width: 847px) and (min-width: 517px){
    .errorMessage{
        /* position: relative; */
        font-size: 20px;
        top: 160px;
        margin-bottom: 20px; 
    }
}